<div class="row site-fotter">
	<div class="col-md-8 col-md-offset-2 footer-news">
		<div class="row">
			<div class="col-sm-3 col-xs-6">
				<h4>عنوان این بخش</h4>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h4>عنوان این بخش</h4>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h4>عنوان این بخش</h4>
				<a href="#">link</a>
				<a href="#">link</a>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h4>عنوان این بخش</h4>
				<a href="#">link</a>
				<a href="#">link</a>
				<a href="#">link</a>
			</div>
		</div>
	</div>
</div>