<div class="row news-boxes">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<div class="news-box">
					<h2><a href="#">اخبار اقتصادی</a></h2>
					<ul>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="news-box">
					<h2><a href="#">اخبار اقتصادی</a></h2>
					<ul>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="news-box">
					<h2><a href="#">اخبار اقتصادی</a></h2>
					<ul>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="news-box">
					<h2><a href="#">اخبار اقتصادی</a></h2>
					<ul>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
						<li>
							<a href="#">عملیات غافلگیرانه ذوالفقار ایرانی/ همه چیز برای پیروزی در جنگ زمینی </a>
							<p>خبرگزاری میزان</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
