<div class="row special-news">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-sm-3 col-xs-6">
				<a href="{{ app().baseUrl }}news-group/3/" >
					اخبار اقتصادی
					<i class="glyphicon glyphicon-fire"></i>
				</a>
			</div>

			<div class="col-sm-3 col-xs-6">
				<a href="{{ app().baseUrl }}news-group/2" >
					ورزشی
					<i class="glyphicon glyphicon-fire"></i>
				</a>
			</div>

			<div class="col-sm-3 col-xs-6">
				<a href="{{ app().baseUrl }}news-group/4" >
					فرهنگی
					<i class="glyphicon glyphicon-fire"></i>
				</a>
			</div>

			<div class="col-sm-3 col-xs-6">
				<a href="{{ app().baseUrl }}news-group/7" >
					گروه 1
					<i class="glyphicon glyphicon-fire"></i>
				</a>
			</div>

		</div>
	</div>
</div>