{% extends "index.twig" %}

{% block body %}
	<form action="" method="post" accept-charset="UTF-8" enctype="multipart/form-data">

		<input id="name" type="text" name="name">
        <br>
		<input type="file" name="file" value="">
        <br>
		<input type="submit" value="Submit">
	</form>
{% endblock %}
